@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Roboto+Slab&subset=latin-ext");
* {
  box-sizing: border-box; }

.defs-only {
  display: none; }

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.flex {
  display: flex; }

.big-wrapper {
  width: 100%;
  overflow: hidden; }

.view-details {
  text-decoration: none;
  color: #7cc576;
  transition: 0.2s;
  font-weight: 600; }
  .view-details:hover {
    color: green;
    text-shadow: 0 0 2px black; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px; }

.section-title {
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase; }

.post-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px; }

.btn {
  border: 0;
  padding: 20px 30px;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  background-color: #7cc576;
  cursor: pointer;
  transition: 0.2s; }
  .btn:hover {
    background-color: white;
    color: black; }

.min-height {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 0 0 5px black; }
  .min-height .container {
    height: 50px !important; }
  .min-height .menu-list {
    top: 45px; }
    .min-height .menu-list a {
      font-size: 0.9em !important; }

.row {
  display: flex;
  flex-wrap: wrap; }

[class*="col-"] {
  padding: 10px; }

.col-1 {
  flex: 8.333%; }

.col-2 {
  flex: 16.667%; }

.col-3 {
  flex: 25%; }

.col-4 {
  flex: 33.333%; }

.col-5 {
  flex: 41.667%; }

.col-6 {
  flex: 50%; }

.col-7 {
  flex: 58.333%; }

.col-8 {
  flex: 66.667%; }

.col-9 {
  flex: 75%; }

.col-10 {
  flex: 83.333%; }

.col-11 {
  flex: 91.667%; }

.col-12 {
  flex: 100%; }

.nav-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; }

.menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .menu-list .list-item {
    list-style-type: none; }
    .menu-list .list-item .link-list {
      text-decoration: none;
      display: inline-block;
      padding: 20px 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: #777777;
      transition: 0.2s; }
      .menu-list .list-item .link-list:hover {
        color: black; }

.welcome {
  padding: 10px;
  display: flex;
  height: 720px;
  min-height: 300px;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../img/big-photo.jpg") no-repeat center 0/cover;
  text-align: center;
  color: white; }
  .welcome h1 {
    text-transform: uppercase;
    font-size: 42px;
    max-width: 520px; }

.services {
  text-align: center;
  padding-bottom: 50px; }
  .services h4 {
    text-transform: uppercase; }
  .services .picture-wrapper img {
    transition: 0.2s;
    cursor: pointer; }
    .services .picture-wrapper img:hover {
      transform: scale(1.1);
      filter: drop-shadow(0px 0px 10px); }

.settings {
  display: flex;
  color: #d4d4d4; }
  .settings .photo-settings {
    position: relative;
    width: 50%;
    overflow: hidden;
    background: #e9e9e9; }
    .settings .photo-settings img {
      position: absolute;
      right: 0;
      width: 400px;
      top: 50%;
      transform: translate(0, -50%); }
  .settings .content {
    background: url("../img/smaller-photo.jpg") no-repeat center 0/cover;
    padding: 10px 10px 10px 60px;
    flex: 100%;
    padding-bottom: 80px;
    position: relative;
    transition: 1s ease; }
    .settings .content:hover {
      flex: 1000%; }
    .settings .content p {
      max-width: 500px; }
  .settings .section-title {
    text-align: left;
    color: white; }
    .settings .section-title .green {
      color: #7cc576; }
  .settings .my-list {
    margin-top: 30px;
    margin-left: 0;
    padding: 0; }
    .settings .my-list li {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 5px 0; }
      .settings .my-list li .far {
        font-size: 40px;
        margin-right: 10px; }

.latest-project {
  position: relative; }
  .latest-project h4 {
    text-transform: uppercase; }
  .latest-project .icons-list {
    display: flex;
    align-items: center;
    padding: 10px 0; }
    .latest-project .icons-list .icon-wrapper {
      min-width: 80px;
      margin-right: 15px; }
    .latest-project .icons-list .text-section h5 {
      margin: 0; }
    .latest-project .icons-list .text-section p {
      margin: 0;
      color: #777777; }
  .latest-project .icon-wrapper img {
    transition: 0.2s;
    cursor: pointer; }
    .latest-project .icon-wrapper img:hover {
      transform: scale(1.15);
      filter: url(#monochrome);
      -webkit-filter: url(#monochrome); }

.big-photo-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 51%;
  right: 0;
  transform: translate(0, -30%); }

.culture {
  overflow: hidden;
  background-color: #f9f9f9;
  text-align: center;
  padding-bottom: 30px; }
  .culture .images-wrapper-center {
    position: relative; }
    .culture .images-wrapper-center::after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      top: 50%;
      width: 60%;
      left: 74%;
      background: #777777; }
    .culture .images-wrapper-center::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      height: 3px;
      width: 60%;
      left: -35%;
      background: #777777; }
  .culture .box {
    margin-bottom: 20px; }
    .culture .box h4 {
      text-transform: uppercase; }
    .culture .box img {
      cursor: pointer;
      transition: 0.2s; }
      .culture .box img:hover {
        filter: drop-shadow(0 0 10px #7cc576);
        transform: scale(1.1); }

.clients .person-place {
  display: flex;
  justify-content: center;
  align-items: center; }
  .clients .person-place .person {
    border-radius: 50%;
    box-shadow: 0 0 10px black; }
.clients .citation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .clients .citation-wrapper .quote {
    font-size: 20px; }
    .clients .citation-wrapper .quote::after, .clients .citation-wrapper .quote::before {
      content: '"'; }
  .clients .citation-wrapper .author {
    color: #7cc576; }

.citation {
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 10px;
  position: relative; }
  .citation::before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #eaeaea;
    left: -15px;
    top: 50%;
    z-index: -1;
    transform: rotate(45deg) translate(-20%, -50%); }

.after:before {
  display: none; }
.after:after {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  background-color: #eaeaea;
  right: -2px;
  top: 50%;
  z-index: -1;
  transform: rotate(45deg) translate(-20%, -50%); }

section.green {
  overflow: hidden;
  background: #7cc576;
  text-align: center; }
  section.green h2 {
    margin-top: 50px;
    color: white; }
  section.green button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    margin-bottom: 60px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.2s; }
    section.green button:hover {
      background: white;
      color: #7cc576; }

.companies {
  padding: 40px 0; }
  .companies img {
    transition: 0.2s;
    cursor: pointer; }
    .companies img:hover {
      transform: scale(1.05); }

.down-section {
  background-color: #222222;
  color: white;
  padding-bottom: 30px; }
  .down-section p {
    font-size: 14px; }

.media-icon {
  display: inline-block;
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #222222;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s all; }
  .media-icon .fab {
    transform: translate(0, 10px); }
  .media-icon:hover {
    background-color: white;
    color: #222222;
    box-shadow: 0 0 1px black; }

#hamburger {
  padding: 8px 12px 6px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  display: none; }
  #hamburger:hover {
    background-color: black;
    color: white; }

@media (max-width: 960px) {
  .col-md-1 {
    flex: 8.333%; }

  .col-md-2 {
    flex: 16.667%; }

  .col-md-3 {
    flex: 25%; }

  .col-md-4 {
    flex: 33.333%; }

  .col-md-5 {
    flex: 41.667%; }

  .col-md-6 {
    flex: 50%; }

  .col-md-7 {
    flex: 58.333%; }

  .col-md-8 {
    flex: 66.667%; }

  .col-md-9 {
    flex: 75%; }

  .col-md-10 {
    flex: 83.333%; }

  .col-md-11 {
    flex: 91.667%; }

  .col-md-12 {
    flex: 100%; }

  .big-photo-wrapper {
    order: 0;
    text-align: center; }
    .big-photo-wrapper img {
      position: static;
      transform: none;
      width: 100%; }

  .md-order-1 {
    order: 1; } }
@media (max-width: 768px) {
  .sm-none {
    display: none; }

  footer {
    text-align: center; }

  .order-sm-1 {
    order: 1; }

  .order-sm-0 {
    order: 0; }

  .col-sm-1 {
    flex: 8.333%; }

  .col-sm-2 {
    flex: 16.667%; }

  .col-sm-3 {
    flex: 25%; }

  .col-sm-4 {
    flex: 33.333%; }

  .col-sm-5 {
    flex: 41.667%; }

  .col-sm-6 {
    flex: 50%; }

  .col-sm-7 {
    flex: 58.333%; }

  .col-sm-8 {
    flex: 66.667%; }

  .col-sm-9 {
    flex: 75%; }

  .col-sm-10 {
    flex: 83.333%; }

  .col-sm-11 {
    flex: 91.667%; }

  .col-sm-12 {
    flex: 100%; }

  #hamburger {
    display: block; }

  .section-title {
    font-size: 20px; }

  .nav-top .container {
    flex-wrap: wrap;
    position: relative; }

  .menu-list {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 100px;
    flex: 100%;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); }
    .menu-list .list-item {
      flex: 100%;
      text-align: center; }
      .menu-list .list-item .link-list {
        width: 100%;
        padding: 10px 0; }
        .menu-list .list-item .link-list:hover {
          background-color: #f5f5f5; }

  .welcome h1 {
    font-size: 30px;
    max-width: 400px; }
  .welcome .btn {
    font-size: 0.9em;
    padding: 10px 20px; }

  .services {
    font-size: 0.9em; }

  .settings .photo-settings {
    display: none; }

  .settings .content {
    padding: 30px 10px; }

  .content h2, .content {
    text-align: center !important; }
    .content h2 p, .content p {
      margin: 0 auto; }
    .content h2 .my-list li, .content .my-list li {
      justify-content: center; }

  .images-wrapper-center::after, .images-wrapper-center::before {
    display: none !important; }

  .person {
    max-width: 200px; }

  .citation::before {
    top: 0;
    left: 50%;
    transform: rotate(45deg) translate(-50%, 0); }

  .after::after {
    top: 0;
    left: 50%;
    transform: rotate(45deg) translate(-50%, 0); } }
@media (max-width: 600px) {
  .col-sx-1 {
    flex: 8.333%; }

  .col-sx-2 {
    flex: 16.667%; }

  .col-sx-3 {
    flex: 25%; }

  .col-sx-4 {
    flex: 33.333%; }

  .col-sx-5 {
    flex: 41.667%; }

  .col-sx-6 {
    flex: 50%; }

  .col-sx-7 {
    flex: 58.333%; }

  .col-sx-8 {
    flex: 66.667%; }

  .col-sx-9 {
    flex: 75%; }

  .col-sx-10 {
    flex: 83.333%; }

  .col-sx-11 {
    flex: 91.667%; }

  .col-sx-12 {
    flex: 100%; } }

/*# sourceMappingURL=style.css.map */
